@charset 'UTF-8';
/*
thanks
-----------------------------------------------------*/

.c-thanks {
  max-width: 700px;
  margin: 0 auto;
  padding-bottom: 50px;
}

.c-thanks p {
  padding-top: 20px;
}
